<ion-view view-title="Register Challenge">
    <ion-content class="padding"></br></br>

     
        <form ng-submit="addChallenge()" name="addchallenge-f">
            <div class="list">

                <label class="item item-input ">
                    <span class="input-label">Name</span>
                    <input type="text" name="name" placeholder="enter name" ng-model="data.name" ng-minlength="3"
                           required/>
                </label>

                <label class="item item-input ">
                    <span class="input-label">Mobile</span>
                    <input type="text" name="mobile" placeholder="mobile" ng-model="data.mobile" ng-minlength="10"
                           ng-maxlength="10" required/>
                </label>


                <label class="item item-input " >
                    <span class="input-label"> Email</span>
                    <input type="text" name="email" placeholder="email" ng-model="data.email"
                           ng-minlength="10" />
                </label>
                <label class="item item-input " >
                    <span class="input-label">challenge_name </span>
                     <input type="text" name="challenge_name" placeholder="challenge_name" ng-model="challenge_name"
                           ng-minlength="10" />
                   
                </label>

                
               <label class="item item-input " >
                    <span class="input-label">conf. challenge_name </span>
                     <input type="text" name="challenge_name" placeholder="challenge_name" ng-model="challenge_name"
                           ng-minlength="10" />
                   
                </label>
                <label class="item item-stacked-label" ion-datetime-picker am-pm ng-model="datetimeValue" disablepreviousdates ng-click="takeStartTime()">
                    <span class="input-label">complation_time </span>
                       {{data.drv =datetimeValue| date: "dd-MM-yyyy h:mm a"}}

                     <input type="date" name="complation_time" placeholder="complation_time" ng-model="complation_time" />
                   
                </label>
                  <label class="item item-stacked-label" ion-datetime-picker am-pm ng-model="datetimeValue" disablepreviousdates ng-click="takeStartTime()" >
                    <span class="input-label">creation_time </span>
                     <input type="date" name="creation_time" placeholder="creation_time" ng-model="creation_time"
                           ng-minlength="10" />
                   
                </label>


               
              

                <label class="item item-input " >
                    <span class="input-label"> descrption_of_challenge</span>
                    <input type="text" name="descrption_of_challenge" placeholder="descrption_of_challenge" ng-model="data.descrption_of_challenge"/>
                </label>

            </div>

            <input class="button button-block button-calm" type="submit" name="Done" value="Confirm" nav-direction="sevice-list.html"
                >

            </div>

            </div>
        </form>

    </ion-content>
</ion-view>
