<ion-view view-title="Register Challenge">
    <ion-content class="padding">

        


      

        <form ng-submit="addChallenge()" name="addchallenge-f">
            <div class="list">

                <label class="item item-input ">
                    <span class="input-label">Name</span>
                    <input type="text" name="name" placeholder="enter name" ng-model="data.name" ng-minlength="3"
                           required/>
                </label>

                <label class="item item-input ">
                    <span class="input-label">Mobile</span>
                    <input type="number" name="mobile" placeholder="mobile" ng-model="data.mobile" ng-minlength="10"
                           ng-maxlength="10" required/>
                </label>


                <label class="item item-input " >
                    <span class="input-label"> Email</span>
                    <input type="text" name="email" placeholder="email" ng-model="data.email"
                           ng-minlength="10" />
                </label>
                <label class="item item-input " >
                    <span class="input-label">challenge_name </span>
                     <input type="text" name="challenge_name" placeholder="challenge_name" ng-model="challenge_name"
                           ng-minlength="10" />
                   
                </label>

                <label class="item item-input " >
                    <span class="input-label"> challenge_done</span>
                    <input type="text" name="challenge_done" placeholder="challenge_done" ng-model="data.challenge_done"/>
                </label>
               <label class="item item-input " >
                    <span class="input-label">challenge_name </span>
                     <input type="text" name="challenge_name" placeholder="challenge_name" ng-model="challenge_name"
                           ng-minlength="10" />
                   
                </label>
                   <label class="item item-input " >
                    <span class="input-label">complation_time </span>
                     <input type="text" name="complation_time" placeholder="complation_time" ng-model="complation_time"
                           ng-minlength="10" />
                   
                </label>
                  <label class="item item-input " >
                    <span class="input-label">creation_time </span>
                     <input type="text" name="creation_time" placeholder="creation_time" ng-model="creation_time"
                           ng-minlength="10" />
                   
                </label>


               
              

                <label class="item item-input " >
                    <span class="input-label"> descrption_of_challenge</span>
                    <input type="text" name="descrption_of_challenge" placeholder="descrption_of_challenge" ng-model="data.descrption_of_challenge"/>
                </label>
              

            </div>
        </form>

    </ion-content>
</ion-view>
